/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Common typography
- Entire page
- Main
- Header
- Footer
*/

/* Common typography
   ========================================================================== */
.grey {
  color: grey;
}

/* Entire page
   ========================================================================== */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main
   ========================================================================== */
main {
    flex: 1;
}

/* Header
   ========================================================================== */
header {
    padding-block: 1em;
  }

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5em;
}

.navigation__link {
  display: block;
  padding-inline: 1em;
}

.navigation__link--is-active {
  background-color: #000;
  border-radius: 999em;
  color: #fff;
}

/* Footer
   ========================================================================== */
footer p {
  margin-bottom: 0;
}

footer img {
  height: 1.5rem;
}

footer a {
  margin-right: 0.5rem;
}